body {
    height: 100%;
    background-color: cornsilk;
}
.wrapper {
    text-align: center;
}

.start {
    padding-bottom: 25px;
}

.stop {
    padding-top: 25px;
    padding-bottom: 25px;
}

.reset {
    padding-top: 25px;
}

input[name="startscale"] {
    background-color: green; /* Green */
    width: 180px;
    height: 90px;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    -webkit-appearance: none;
}

input[name="stopscale"] {
    background-color: red; /* Red */
    border: none;
    width: 180px;
    height: 90px;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    -webkit-appearance: none;
}

input[name="resetscale"] {
    background-color: grey; /* Grey */
    border: none;
    width: 180px;
    height: 90px;
    color: white;
    padding: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    -webkit-appearance: none;
}
